.pop-menu {
	flex-direction: row-reverse;
	position:fixed;
	width: 250px;
	padding-bottom:30px;
	background-color: white;
    float:right;
	right: 90px;
	top:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 10;
}

